body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #dd0c0c;
  background: url(JEMA\ GER\ 1428-16.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* En-tête */
header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Navigation */
nav {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Formulaires */
.form-container {
  width: 50%;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Tableaux */
.table-container {
  width: 80%;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #007bff;
  color: white;
}

/* Boutons */
.btn {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.btn-increase {
  background-color: #28a745;
}

.btn-decrease {
  background-color: #ffc107;
}

.btn-delete {
  background-color: #dc3545;
}
